.mb-3{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 35px;
    color: whitesmoke;
    
}
.mb-3 text{
    padding: 20%;
}
.enviar{
    text-align: right;
    padding-bottom: 10%;
    padding-right: 10%;
}
.enviar button {
    font-size: 20px;      
    padding: 15px 25px;   
    width: auto;          
}

@media (max-width: 768px){
    .topicos{
        font-size: 1.6em;
    }
    .mb-3{
        font-size: 1.1em;
    }
    .enviar button {
        font-size: 20px;      
        padding: 5px 10px;   
        width: auto;          
    }
    
}