 body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./img/2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh; 
  }
 
  .sombra {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 0;
    
  }
  /* Configuraçao da navbar */
  .navbar-custom {
    background-color: #636363;
  }
  .navbar-brand img{
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    border: 1px solid white; 
    
  }
  .navbar li {
      margin: 0 15px;
  }

  .topicos  {
    color: whitesmoke;
    text-align: center;
    padding-top: 15%;
    margin-bottom: 5%;
    font-size: 40px; /* Tamanho da fonte */
  }

  .cor-footer{
    background-color: #636363;
  }
  .footer-icon {
    color: whitesmoke;
    margin: 0 20px;
    font-size: 24px;
    transition: color 0.3s ease;
    border: none;                
    outline: none;    
  }
  @media (max-width: 768px) {
  .navbar-nav .nav-item .btn {
    color: whitesmoke;
    margin-right: 1px;
    margin: 4px; /
  }
  .sombra {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0;
    
  }
}
@media (max-width: 576px) {
  .navbar-nav .nav-item .btn {
    color: whitesmoke;
    margin-right: 1px;
    margin: 2px; /
  }
  .sombra {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0;
    
  }
}
@media (max-width: 768px) {
  .navbar-nav .nav-item .btn {
    color: whitesmoke;
    margin-right: 1px;
    margin: 2px; /
  }
  .sombra {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0;
    
  }
}
@media (max-width: 1024px) {
  .navbar-nav .nav-item .btn {
    color: whitesmoke;
    margin-right: 1px;
    margin: 2px; /
  }
  .sombra {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0;
    
  }
}
